<h1 class="cl1">Sensitivity list</h1>

<div class="cl3">
  <div class="cl2" *ngFor="let res of sensitivities; let i=index;">
    <p class="cl">{{this.returnSensitivitiesById(i)}}</p>
  </div>
</div>

<div class="cl4">
  <h2 class="cl1">Add a sensitivity (reload the page after)</h2>
  <form [formGroup]="questionnaireForm" (submit)="onClickForm()">
    <label for="playerName">Enter your player name: </label>
    <input formControlName="playerName" type="text" name="playerName" id="playerName" required>

    <label for="resolutionValue">Enter your resolution value: </label>
    <input formControlName="resolutionValue" type="text" name="resolutionValue" id="resolutionValue" required>

    <label for="sensitivityValue">Enter your sensitivity value: </label>
    <input formControlName="sensitivityValue" type="text" name="sensitivityValue" id="sensitivityValue" required>

    <label for="gameName">Enter your game name: </label>
    <input formControlName="gameName" type="text" name="gameName" id="gameName" required>


    <button type="submit">Send!</button>
  </form>


  <h2 class="cl1">Delete a sensitivity</h2>

  <form [formGroup]="deleteForm" (submit)="onClickFormDelete()">
    <label for="idDelete">Choose a value:</label>

    <select name="idDelete" id="idDelete" formControlName="idDelete">
      <option value="">--Please choose an option--</option>
      <option [value]="country.questionId" *ngFor="let country of sensitivities">{{this.returnSensitivityToString(country)}}</option>
    </select>

    <br>
    <button type="submit">Send!</button>
  </form>
</div>
